@use "../../../styles/styles" as *;
.pricing-section{
    .pricing-content{
        @include respond-between($tablet-s,$md){
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
            .title-area{
                .sec-title{
                    @include mobile-xl{
                        br{
                            display: none;
                        }
                    }
                    
                }
            }
        }
        .pricing-icon{
            width: 212px;
            height: 212px;
            line-height: 212px;
            text-align: center;
            background: url(../images/pricing/1.png) center/cover no-repeat;
            .inner{
                display: inline-block;
                width: 150px;
                height: 150px;
                line-height: 140px;
                text-align: center;
                border-radius: 50%;
                background-color: var(--theme-color2);
                border: 2px solid rgba(36, 233, 145, 0.15);
                img{
                    animation: spin 20s infinite linear;
                }
            }
        }
    }
    .single-pricing-cart{
        .pricing-inner{
            position: relative;
            display: block;
            background: var(--theme-color2);
            border-radius: 5px;
            padding: 50px 34px 52px;
            position: relative;
            z-index: 1;
            transition: all 500ms ease;
            &::before,
            &::after{
                content: " ";
                width: 0;
                height: 0;
                border-radius: 5px;
                position: absolute;
                border: 0px solid transparent;
                transition: all 1s;
            }

            &::before{
                bottom: 0;
                right: 0;
                border-bottom: 2px solid transparent;
                border-right: 2px solid transparent;
            }
            &::after{
                top: 0;
                left: 0;
                border-top: 2px solid transparent;
                border-left: 2px solid transparent;
            }
            .pricing-header{
                .title{
                    font-size: 16px;
                    line-height: 24px;
                    color: var(--white-color);
                    font-weight: 400;
                    img{
                        margin-right: 16px;
                    }
                }
                .selected{
                    font-size: 42px;
                    line-height: 24px;
                    color: var(--white-color);
                    font-weight: 700;
                    padding: 10px 22px 0;
                    position: relative;
                    &::before{
                        content: '$';
                        position: absolute;
                        left: 0;
                        top: 0px;
                        font-size: 18px;
                        font-weight: 600;
                    }
                    span{
                        font-size: 14px;
                        line-height: 24px;
                        text-transform: uppercase;
                        color: var(--white-color6);
                        font-weight: 400;
                    }
                }
            }
            .pricing-text{
                li{
                    position: relative;
                    z-index: 1;
                    display: block;
                    font-size: 17px;
                    line-height: 28px;
                    color: var(--white-color);
                    padding-left: 27px;
                    margin-bottom: 15px;
                    &::before{
                        position: absolute;
                        content: '';
                        z-index: -1;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 18px;
                        height: 18px;
                        background: url(../images/icons/pricing-list.png) center/cover no-repeat;
                    }
                }
            }
            .pricing-footer{
                .pricing-btn{
                    display: inline-block;
                    font-size: 14px;
                    line-height: 52px;
                    height: 52px;
                    font-weight: 400;
                    border-image-slice: 1;
                    border-radius: 26px;
                    text-align: center;
                    padding: 0 28px;
                    color: var(--white-color);
                    background-color: rgba(36, 233, 145, 0.10196078431372549);
                    transition: all 500ms ease;
                    position: relative;
                    overflow: hidden;
                    z-index: 1;
                    &::before{
                        position: absolute;
                        content: '';
                        z-index: -1;
                        left: 0;
                        top: 0;
                        width: 0;
                        height: 100%;
                        background: var(--theme-color);
                        transition: all 500ms ease;
                    }
                }
            }
        }
        &:hover,
        &.current{
            .pricing-inner{
                background: var(--black-color2);
                .pricing-footer{
                    .pricing-btn{
                        color: var(--black-color9);
                        &::before{
                            width: 100%;
                        }
                    }
                }
                &::after{
                    border-top: 2px solid var(--theme-color);
                    border-left: 2px solid var(--theme-color);
                }
                &::before{
                    border-bottom: 2px solid var(--theme-color);
                    border-right: 2px solid var(--theme-color);
                }
                &::before,
                &::after{
                    width: 100%;
                    height: 100%;
                }

            }
        }
    }
}





// .pricing-block-one .pricing-table:after {
//     top: 0;
//     left: 0;
//     border-top: 2px solid transparent;
//     border-left: 2px solid transparent;
//   }
  
//   .pricing-block-one.active .pricing-table::after,
//   .pricing-block-one:hover .pricing-table::after {
//     border-top: 2px solid var(--primary);
//     border-left: 2px solid var(--primary);
//   }
  
  
//   .pricing-block-one .pricing-table:before {
//     bottom: 0;
//     right: 0;
//     border-bottom: 2px solid transparent;
//     border-right: 2px solid transparent;
//   }
  
  
//   .pricing-block-one.active .pricing-table:before,
//   .pricing-block-one:hover .pricing-table:before {
//     border-bottom: 2px solid var(--primary);
//     border-right: 2px solid var(--primary);
//   }
  
  .pricing-block-one.active .pricing-table::before,
  .pricing-block-one.active .pricing-table::after,
  .pricing-block-one:hover .pricing-table::before,
  .pricing-block-one:hover .pricing-table::after {
    width: 100%;
    height: 100%;
  }
  