@use "../../../styles/styles" as *;
.blog-details-section {
    .blog-details-left {
        .blog-list-card {
            .image {
                position: relative;
                img {
                    width: 100%;
                }
                &::after {
                    background-color: var(--bs-bg-color9);
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 0;
                    opacity: 1;
                    z-index: 1;
                    pointer-events: none;
                }
                &:hover::after {
                    height: 100%;
                    opacity: 0;
                    -webkit-transition: all 400ms linear;
                    -o-transition: all 400ms linear;
                    transition: all 400ms linear;
                }
            }
            .card-content {
                .author-info {
                    .author {
                        span {
                            font-size: 14px;
                            line-height: 60px;
                            color: var(--white-color6);
                            font-weight: 400;
                            text-transform: uppercase;
                            position: relative;
                            margin-right: 20px;
                            &:first-child {
                                padding-right: 30px;
                                &::before {
                                    position: absolute;
                                    content: "";
                                    right: 0;
                                    top: 40%;
                                    height: 6px;
                                    width: 6px;
                                    background: var(--bs-border-color11);
                                }
                            }
                            i {
                                color: var(--theme-color);
                                margin-right: 10px;
                            }
                        }
                    }
                }
                .title {
                    font-size: 30px;
                    line-height: 46px;
                    color: $white-color;
                    font-weight: 700;
                }
                p {
                    color: var(--white-color6);
                    font-size: 16px;
                }
                .blog-quote {
                    padding: 40px 40px;
                    background-color: var(--theme-color2);
                    margin: 0 0 30px;
                    border-left: 0;
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    margin-top: 34px;
                    @include mobile-xl {
                        flex-direction: column;
                    }
                    .icon {
                        padding: 17px 17px;
                        display: inline-block;
                        border-radius: 4px;
                        background: var(--bs-border-color);
                        flex-shrink: 0;
                    }
                    .text {
                        font-size: 18px;
                        line-height: 30px;
                        color: $white-color;
                        font-weight: 400;
                        @include mobile-xl {
                            text-align: center;
                        }
                        @include vxs {
                            font-size: 16px;
                        }
                    }
                }
                .block-list {
                    li {
                        font-size: 16px;
                        line-height: 25px;
                        color: $white-color;
                        font-weight: 400;
                        margin-top: 18px;
                        i {
                            color: var(--theme-color);
                            margin-right: 15px;
                        }
                    }
                }
                .blog-details-bottom {
                    background: var(--theme-color2);
                    padding: 22px 24px;
                    margin-top: 40px;
                    .details-inner {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        @include mobile-m {
                            flex-direction: column;
                            gap: 20px;
                        }
                        .details-list {
                            display: flex;
                            align-items: center;
                            span {
                                font-size: 16px;
                                line-height: 25px;
                                color: $white-color;
                                font-weight: 500;
                                margin-right: 15px;
                            }
                            .details-tag {
                                li {
                                    display: inline-block;
                                    a {
                                        font-size: 15px;
                                        line-height: 25px;
                                        color: var(--white-color6);
                                        font-weight: 400;
                                    }
                                }
                            }
                        }
                        .details-social {
                            li {
                                display: inline-block;
                                a {
                                    display: inline-block;
                                    height: 32px;
                                    width: 32px;
                                    line-height: 32px;
                                    background: var(--bs-border-color);
                                    border-radius: 50%;
                                    text-align: center;
                                    transition: 0.5s;
                                    overflow: hidden;
                                    z-index: 1;
                                    position: relative;
                                    &::before {
                                        position: absolute;
                                        content: "";
                                        width: 100%;
                                        height: 0;
                                        background: var(--theme-color);
                                        transition: all 0.4s ease-in-out;
                                        top: 0;
                                        left: 0;
                                        opacity: 0;
                                        z-index: -1;
                                        transition: all 0.4s ease 0s;
                                    }
                                    i {
                                        color: $white-color;
                                    }
                                    &:hover::before {
                                        height: 100%;
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .comment-one {
            padding: 50px 41px;
            background: var(--theme-color2);
            margin-top: 50px;
            .title {
                font-size: 26px;
                line-height: 36px;
                color: $white-color;
                font-weight: 700;
            }
            .comment-single-box {
                .blog-reply {
                    display: flex;
                    justify-content: space-between;
                    gap: 20px;
                    align-items: center;
                    margin-top: 40px;
                    @include mobile-xl {
                        flex-direction: column;
                    }
                    .comment-image {
                        width: 65px;
                        height: 65px;
                        border-radius: 50%;
                        flex-shrink: 0;
                        img {
                            width: 100%;
                        }
                    }
                    .comment-content {
                        position: relative;
                        .title {
                            h5 {
                                font-size: 18px;
                                line-height: 28px;
                                color: $white-color;
                                font-weight: 500;
                                display: inline-block;
                                margin-bottom: 0;
                                padding-right: 20px;
                                margin-right: 8px;
                                position: relative;
                                &::before {
                                    position: absolute;
                                    content: "";
                                    top: 50%;
                                    right: 0;
                                    width: 10px;
                                    height: 1px;
                                    background: var(--bs-bg-color9);
                                }
                            }
                            span {
                                font-size: 14px;
                                line-height: 28px;
                                color: var(--white-color6);
                                font-weight: 400;
                            }
                        }
                        p {
                            font-size: 16px;
                            line-height: 26px;
                            color: var(--white-color6);
                            font-weight: 400;
                            max-width: 95%;
                            margin: 0;
                        }
                        .comment-one-btn {
                            position: absolute;
                            top: 0;
                            right: 0;
                            font-size: 14px;
                            font-weight: 400;
                            text-transform: uppercase;
                            color: $white-color;
                            @include mobile-xl {
                                top: 10px;
                            }
                            @include mobile-l {
                                top: -70px;
                            }
                            i {
                                color: var(--theme-color);
                                transform: scaleX(-1);
                                margin-right: 9px;
                                font-size: 16px;
                            }
                        }
                    }
                    &.style-right {
                        .comment-content {
                            p {
                                max-width: 100%;
                            }
                        }
                    }
                }
            }
        }
        .comment-form {
            margin-top: 80px;
            .title {
                font-size: 26px;
                line-height: 36px;
                color: $white-color;
                font-weight: 700;
            }
            .comment-form-author {
                width: 50%;
                float: left;
                padding-right: 12px;
            }
            .comment-form-email {
                width: 50%;
                float: left;
                padding-left: 12px;
            }
            .comment-form-check {
                label {
                    padding-left: 23px;
                    br {
                        display: none;
                    }
                    @include mobile-xl {
                        line-height: 31px;
                        br {
                            display: block;
                        }
                    }
                }
            }
            .form-submit {
                display: inline-block;
                margin-top: 20px;
                .submit {
                    display: inline-block;
                    font-size: 14px;
                    color: var(--black-color2) !important;
                    font-weight: 500;
                    padding: 10px 39px;
                    border: none;
                    background: var(--theme-color);
                    &:hover {
                        background: var(--theme-color2);
                        color: $white-color !important;
                    }
                }
            }
            input,
            textarea,
            label {
                font-size: 15px;
                line-height: 34px;
                color: var(--white-color6) !important;
                font-weight: 400;
                padding: 0 8px;
            }
            input {
                background: transparent;
                border-bottom: 1px solid var(--bs-border-color11);
                border-radius: 0;
            }
            textarea {
                background: transparent;
                border-bottom: 1px solid var(--bs-border-color11);
                min-height: 120px;
                padding-top: 20px;
            }
        }
    }
    .blog-sidebar {
        background: var(--theme-color2);
        position: sticky;
        top: 100px;
    }
}

.widget-box {
    padding: 0 32px 0 48px;
    &:first-child {
        margin-top: 0;
    }
    margin-top: 38px;
    .sidebar__widget-title {
        font-size: 20px;
        line-height: 30px;
        color: var(--white-color);
        font-weight: 500;
        margin-bottom: 30px;
    }
    &.widget_search {
        padding-top: 58px;
        position: relative;
        form {
            width: 100%;
            display: block;
            position: relative;
            margin-bottom: 0;
            label {
                input {
                    background: transparent;
                    border: 1px solid var(--bs-bg-color10);
                }
            }
            button {
                position: absolute;
                top: 0;
                right: 15px;
                bottom: 0;
                width: 36px;
                outline: none;
                border: none;
                padding: 0;
                font-size: 16px;
                color: var(--white-color);
                background-color: rgba(0, 0, 0, 0);
                transition: all 0.4s ease 0s;
            }
        }
    }
    &.widget_categories {
        ul {
            li {
                margin-bottom: 7px;
                position: relative;
                padding-left: 31px;
                &:last-child {
                    margin-bottom: 0;
                }
                &::before {
                    @include absolute-centerY;
                    content: "\f07b";
                    font-family: $icon-font;
                    left: 0;
                    font-weight: 400;
                    color: $theme-color;
                }
                a {
                    font-size: 15px;
                    line-height: 34px;
                    color: var(--white-color);
                    font-weight: 400;
                    transition: 0.5s;
                    &:hover {
                        color: var(--theme-color);
                    }
                    i {
                        margin-right: 20px;
                        color: var(--theme-color);
                    }
                }
            }
        }
    }
    &.widget_blog {
        .item {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-bottom: 30px;
            a {
                flex-shrink: 0;
                overflow: hidden;
                img {
                    transition: all 0.4s ease 0s;
                }
            }
            .inifo {
                .title {
                    margin: 0;
                    font-size: 16px;
                    line-height: 26px;
                    color: var(--white-color);
                    font-weight: 500;
                    a {
                        background: linear-gradient(var(--white-color) 0%, var(--white-color) 98%);
                        background-size: 0 1px;
                        background-repeat: no-repeat;
                        background-position: left 100%;
                        transition: all 0.4s ease 0s;
                        &:hover {
                            color: var(--white-color);
                            background-size: 100% 1px;
                        }
                    }
                }
                .date {
                    font-size: 12px;
                    line-height: 20px;
                    color: var(--white-color6);
                    font-weight: 400;
                    i{
                        color: var(--theme-color);
                    }
                    a {
                        color: var(--theme-color);
                    }
                }
            }
            &:hover {
                a {
                    img {
                        transform: scale(1.1) rotate(-2deg);
                    }
                }
            }
        }
    }
    &.widget_tags {
        padding-bottom: 50px;
        .tag-list {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            a {
                border: 1px solid var(--bs-bg-color10);
                padding: 5px 19px;
                font-size: 14px;
                color: var(--white-color6);
                font-weight: 400;
                transition: all 0.4s ease 0s;
                cursor: pointer;
                &.active,
                &:hover {
                    background: var(--theme-color);
                    color: var(--black-color);
                }
            }
        }
    }
}
