@use "../../../styles/styles" as *;

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee-section {
  .marquee-wrap {
    background: var(--theme-color);
    border: 1px solid hsla(0, 0%, 100%, 0.1);
    border-left: 0;
    border-right: 0;
    padding: 73px 0;
    overflow: hidden;

    @include lg {
      padding: 50px 0;
    }
    @include sm {
      padding: 40px 0;
    }
    @include xs {
      padding: 30px 0;
    }
    @include mobile-xl {
      padding: 20px 0;
    }

    .marquee_mode {
      display: flex;
      width: fit-content;
      animation: marquee 20s linear infinite;
      animation-play-state: running;

      /* Пауза при наведении */
      &:hover {
        animation-play-state: paused;
      }

      .m-item {
        margin-right: 35px;
        font-size: 100px;
        font-weight: 800;
        line-height: 1;
        text-transform: uppercase;
        display: inline-flex;
        align-items: center;
        color: var(--theme-color);
        text-shadow: -1px -1px 0 var(--black-color9),
          1px -1px 0 var(--black-color9),
          -1px 1px 0 var(--black-color9),
          1px 1px 0 var(--black-color9);

        @include sm {
          font-size: 70px;
        }
        @include xs {
          font-size: 50px;
        }
        @include mobile-xl {
          font-size: 40px;
          margin-right: 18px;
        }

        span {
          display: inline-block;
          margin-right: 33px;

          @include xs {
            margin-right: 23px;
          }
          @include mobile-xl {
            margin-right: 18px;
          }
        }
      }
    }
  }
}
